

.chat-box-page {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    height: 100%;
    width: 100%;
    background-color: #292A2D;
    

    .conversations-wrap {
        position: relative;
        display: flex;
        flex-direction: column;
        height: 80%;
        width: 75%;
        h1 {
            height: 10%;
            text-align: center;
            color: white;
            margin-bottom: 20px;
        }

        .log-wrap {
            overflow-y: scroll;
            scrollbar-width: none;
            position: relative;
            display: flex;
            flex-direction: column;
            padding-top: 10px;
            padding-bottom: 100px;
            height: 80%;
            width: 100%;
            color: rgb(247, 247, 247);

            //background-color: green;
            
            > div {
                display: flex;
                align-items: center;
                height: auto;
                width: fit-content;
                padding: 15px;
                font-size: 0.95rem;
                line-height: 30px;
                margin-bottom: 70px;

                //background-color: red;

                img {
                    height: 25px;
                    width: 25px;
                    margin-right: 20px;
                    border-radius: 50%;
                    border: 1px solid rgb(91, 91, 91);
                    
                }


            }
            .right {      
                border-radius: 30px;
                align-self: flex-end;
                background-color: #303030;
            }
    
            .left {
                align-self: flex-start;
            }

        }
    }

    form {
        position: absolute;
        bottom: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 0px;
        border-radius: 20px;
        padding: 10px 15px 10px 15px;
        min-height: 100px;
        width: 70%;
        background-color: #404045;
        textarea {
            resize: none;
            overflow: hidden;
            line-height: 25px;
            font-size: 0.95rem;
            padding-top: 5px;
            height: 30px;
            width: 100%;
            border: none;
            outline: none;
            background-color: #404045;
            color: #F5F5F5;
            &::placeholder {
                color: rgb(203, 203, 203);
            }
            &:focus::placeholder {
                color: transparent;
            }
        }

        .submit-wrap {
            display: flex;
            justify-content: flex-end;
            width: 100%;
            button {
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: center;
                align-self: flex-end;
                border: none;
                outline: none;
                height: 30px;
                width: 30px;
                border-radius: 50%;
                color: black;
                background-color: white;
                svg {
                    font-size: 1rem;
                }
                &.disabled {
                    background-color: rgb(158, 157, 157);
                }
            }
        }
    }
}